@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  :root {
    color: #000000;
    --background: #F4E7FF;
    --background-card: #FCFAFF;
    --input-background: #FAFAFA;
    --branding-primary-default: #E1C2FF;
    --branding-primary-hover: #cd9bff;
    --branding-secondary-default: #E8E8E8;
    --branding-secondary-hover: #e0c1ff;
    --background-white: #FCFAFF;
    --border: #BDBDBD;
    --background-checked: #E8D1FF;
    --text-checked: #7540AA;
    --border-button: #7540AA;
    --text-positive: #00d812;
    --text-negative: #FF0000;
    --text-tertiary: #96989B;
  }

  .dark {
    color: #FFFFFF;
    --background: #1C0224;
    --input-background: #361A3F;

    /* --disabled: #535353;

    --card-border: #25282E;
    --input-border: #494949;
    --focus-outline: #FFFFFF66;

    --text-primary: #F2F0FF;
    --text-secondary: #DADADA;
    --text-tertiary: #96989B;
    --text-hint: #B3B3B3;
    --text-disabled: #5B5E62;
    --text-black: #181A1F;

    --branding-primary-default: #471B55;
    --branding-primary-hover: #662478;
    --branding-primary-pressed: #ca56eb;

    --branding-secondary-default: #2D3137;
    --branding-secondary-hover: #686C73;
    --branding-secondary-pressed: #4A4F55;

    --semantic-danger-primary: #DC5858;
    --semantic-danger-hover: #B24747;
    --semantic-danger-pressed: #883636;
    --semantic-danger-background: #DC58581A;
    --semantic-success-primary: #16C898;
    --semantic-success-hover: #12A07A;
    --semantic-success-pressed: #0D785C;
    --semantic-success-background: #16C8991A;
    --semantic-warning-primary: #FFAA00;
    --semantic-warning-hover: #CC8800;
    --semantic-warning-pressed: #996600;
    --semantic-warning-background: #FFAA001A;
    --semantic-info-primary: #4884FF;
    --semantic-info-hover: #295FCE;
    --semantic-info-pressed: #1F489D;
    --semantic-info-background: #3376FF29; */
  }
}

.custom-scrollbar-primary {
  @apply [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-branding-primary-hover [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar]:w-[10px]
}

.custom-scrollbar-secondary {
  @apply [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-branding-primary-default [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar]:w-[5px]
}